$font-family: "DM Sans", sans-serif;
$second-family: "Roboto", sans-serif;
$third-family: "FontAwesome", sans-serif;

$main-red: #dd2242;
$blue---background: #010a20;
$white: #fff;
$text-lighten: #e0e0e0;
$grey-reduced: #85a3b2;
$light-text: rgba(21, 20, 57, 0.4);
$paragraph-dark: #6f7787;