<section class="explore__section pt-[30px] xl:pt-[127px]">
    <div class="pb-[695px]">
        <h2 class="explore__section--title font-bold text-[40px] text-center pb-[30px]">Explore Our <br class="lg:hidden block">Secrets </h2>
        <div class="explore__section--content">
            <div class="explore__section--image-wrap flex justify-center items-center">
        <!-- <img class="explore__section--arrow w-[12px] h-[20px] mr-[9px] xl:mr-[63px] md:mr-[30px]" src="./images/arrowleft.svg" alt="arrow"> -->
        <img class="explore__section--image w-[314px] h-[200px] block xl:hidden" src="./images/explore.png" alt="Explore Image">
        <div class="gap-[31px] flex flex-row">
        <!-- <img class="explore__section--image w-[314px] h-[200px] hidden xl:block" src="./images/exploredt1.png" alt="Explore Image"> -->
        <picture>
          <source srcset="./images/explore-mob@1x.png 1x
          ./images/explore-mob@2x.webp 2x"/>
          <source srcset="./images/explore1-desk@1x.png 1x
          ./images/explore1-desk@2x.webp 2x"/>
          <source srcset="./images/explore2-desk@1x 1x
          ./images/explore2-desk@2x 2x"/>
          <source srcset="./images/explore3-desk@1x 1x
          ./images/explore3-desk@2x 2x" />
          <img src="../images/explore-mob@1x.png" alt="img" class="explore__section--image w-[314px] h-[200px] hidden xl:block" />
        </picture>
        <!-- <img class="explore__section--image w-[314px] h-[200px] hidden xl:block" src="./images/exploredt2.png" alt="Explore Image">
        <img class="explore__section--image w-[314px] h-[200px] hidden xl:block" src="./images/exploredt3.png" alt="Explore Image"> -->
        </div>
        <img class="explore__section--arrow w-[12px] h-[20px] ml-[9px] xl:ml-[63px] md:ml-[30px]" src="./images/arrowright.svg" alt="arrow">
            </div>
        <div class="explore__section--circle-wrap flex justify-center gap-[15px] mt-[16px]">
            <img class="explore__section--circle" src="./images/circle.svg" alt="circle">
            <img class="explore__section--circle" src="./images/circle.svg" alt="circle">
            <img class="explore__section--circle" src="./images/circle.svg" alt="circle">
            <img class="explore__section--red" src="./images/red.svg" alt="circle">
            <img class="explore__section--circle" src="./images/circle.svg" alt="circle">
        </div>
        </div>
    </div>




        <div class="bythenumbers__subsection pt-[77px] pl-[31px] pr-[31px] pb-[69px] w-screen h-screen">
            <h2 class="bythenumbers__subsection--title text-white font-bold text-[40px] text-center pb-[57px] xl:pb-[36px]">By The <br class="block xl:hidden">Numbers</h2>
            <p class="bythenumbers__subsection--desc font-normal text-[16px] text-center leading-[150%]">Lorem ipsum dolor sit amet, consectetur adipiscing 
                <br>elit. Fusce commodo magna et libero. Lorem ipsum 
                <br>dolor sit amet, consectetur adipiscing elit.</p>
                <span class="bythenumbers__subsection--list-wrap">
                    <ul class="bythenumbers__subsection--list flex flex-col xl:flex-row xl:gap-[127px] mt-[40px] xl:mt-[60px] justify-center">
                        <li class="bythenumbers__subsection--list-item">
                            <h2 class="bythenumbers__subsection--list-item-number text-center font-bold text-[40px] mt-[67px]">100+</h2>
                            <p class="bythenumbers__subsection--list-item-desc font-normal text-[16px] text-center leading-[150%]">Lorem ipsum dolor sit amet, 
                                <br>consectetur adipiscing elit. Fusce 
                                <br>commodo magna et libero.</p>
                        </li>
                        <li class="bythenumbers__subsection--list-item">
                            <h2 class="bythenumbers__subsection--list-item-number text-center font-bold text-[40px] mt-[80px]">43,000+</h2>
                            <p class="bythenumbers__subsection--list-item-desc font-normal text-[16px] text-center leading-[150%]">Lorem ipsum dolor sit amet, consectetur 
                                <br>adipiscing elit. Fusce commodo.</p>
                        </li>
                        <li class="bythenumbers__subsection--list-item">
                            <h2 class="bythenumbers__subsection--list-item-number text-center font-bold text-[40px] mt-[80px]">30+</h2>
                            <p class="bythenumbers__subsection--list-item-desc font-normal text-[16px] text-center leading-[150%]">Lorem ipsum dolor sit amet, 
                                <br>consectetur adipiscing elit. Fusce 
                                <br>commodo magna et libero.</p>
                        </li>
                    </ul>
                </span>
        </div>
    </section>
