<footer class="footer">
  <div class="container">
    <img
      src="./images/logo-mobile.png"
      alt="footer__logo"
      class="footer__logo"
    />
    <ul class="footer__list">
      <li class="footer__item"><a href="#" class="footer__link">About</a></li>
      <li class="footer__item"><a href="#" class="footer__link">Pricing</a></li>
      <li class="footer__item"><a href="#" class="footer__link">Company</a></li>
      <li class="footer__item"><a href="#" class="footer__link">Blog</a></li>
    </ul>
    <div class="footer__contacts">
      <div class="icon-wrapper">
        <i class="fa-brands fa-facebook-f"><a href="#"></a></i>
      </div>
      <div class="icon-wrapper">
        <i class="fa-brands fa-linkedin-in"><a href="#"></a></i>
      </div>
      <div class="icon-wrapper">
        <i class="fa-brands fa-google"><a href="#"></a></i>
      </div>
    </div>
    <p class="footer__copyright">Copyright © 2019</p>
  </div>
</footer>
