<main>
  <section class="gallery">
    <div class="container">
      <h2 class="gallery__title">Photo Gallery</h2>
      <h3 class="gallery__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        dapibus mauris in lectus tempus, eget tincidunt.
      </h3>
      <div class="gallery__grid">
        <picture class="gallery__item gallery__item--wide">
          <source
            srcset="
              ./img/gallery1-desktop.webp   1x,
              ./img/gallery1-desktop@4.webp 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./img/gallery1-mobile.webp   1x,
              ./img/gallery1-mobile@4.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./img/gallery1-mobile.webp" alt="2 ledies" />
        </picture>
        <picture class="gallery__item">
          <source
            srcset="
              ./img/gallery3-desktop.webp   1x,
              ./img/gallery3-desktop@4.webp 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./img/gallery3-mobile.webp   1x,
              ./img/gallery3-mobile@4.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./img/gallery3-mobile.webp" alt="" />
        </picture>
        <picture class="gallery__item"
          ><source
            srcset="
              ./img/gallery5-desktop.webp   1x,
              ./img/gallery5-desktop@4.webp 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./img/gallery5-mobile.webp   1x,
              ./img/gallery5-mobile@4.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./img/gallery5-mobile.webp" alt="" />
        </picture>
        <picture class="gallery__item">
          <source
            srcset="
              ./img/gallery2-desktop.webp   1x,
              ./img/gallery2-desktop@4.webp 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./img/gallery2-mobile.webp   1x,
              ./img/gallery2-mobile@4.webp 2x
            "
            media="(min-width: 320px)"
          />

          <img src="./img/gallery2-mobile.webp" alt="mountain" />
        </picture>

        <picture class="gallery__item gallery__item--wide">
          <source
            srcset="
              ./img/gallery4-desktop.webp   1x,
              ./img/gallery4-desktop@4.webp 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./img/gallery4-mobile.webp   1x,
              ./img/gallery4-mobile@4.webp 2x
            "
            media="(min-width: 320px)"
          />

          <img src="./img/gallery4-mobile.webp" alt="" />
        </picture>

        <picture class="gallery__item">
          <source
            srcset="
              ./img/gallery6-desktop.webp   1x,
              ./img/gallery6-desktop@4.webp 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./img/gallery6-mobile.webp   1x,
              ./img/gallery6-mobile@4.webp 2x
            "
            media="(min-width: 320px)"
          />

          <img src="./img/gallery6-mobile.webp" alt="" />
        </picture>
      </div>
    </div>
  </section>
</main>
