<section class="life">
    <div class="container">
        <h3 class="life__title">Live a life like you
            wouldn’t
            imagine,
            experience a life
            you wouldn’t
            expect.</h3>
        <video class="life__video" src="./images/videos/nature.mp4" controls></video>
        <ul class="life__ul">
            <li class="life__li">
                <img class="life__li--img" src="./images/life/img_life.webp" alt="img">
                <div>
                    <h4 class="life__li--title">In The Country</h4>
                    <p class="life__li--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus
                        mauris in lectus tempus.</p>
                </div>
            </li>
            <li class="life__li">
                <video class="life__li--video" src="./images/videos/city.mp4" controls></video>
                <div>
                    <h4 class="life__li--title">In The City</h4>
                    <p class="life__li--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus
                        mauris in.</p>
                </div>
            </li>
        </ul>
    </div>
</section>